### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [4]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Sandipan|  31|        10| 30000|
|  Sumana|  30|         8| 25000|
| Krishna|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [5]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [6]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Sandipan|  31|        10| 30000|
|  Sumana|  30|         8| 25000|
| Krishna|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [7]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Sandipan| 31|        10| 30000|
|  Sumana| 30|         8| 25000|
| Krishna| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+

In [8]:
### how="any" ----> if any cell has  one null value that row will be droped from the table.
### how= "all" ----> if each cell of row has all null value that row will be droped from the table .(all should be null)
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Sandipan| 31|        10| 30000|
|  Sumana| 30|         8| 25000|
| Krishna| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+

In [9]:
##threshold 
## thresh=3 means there are 3 non null value will have and remains will be deleted, 
##(i.e. 34,10,38000 these three non null value present)
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Sandipan| 31|        10| 30000|
|  Sumana| 30|         8| 25000|
| Krishna| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [10]:
##Subset
## here any null value present the specific columns ("Age") that null value of the rows will be deleted. 
df_pyspark.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Sandipan| 31|        10| 30000|
|  Sumana| 30|         8| 25000|
| Krishna| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
|    null| 34|        10| 38000|
|    null| 36|      null|  null|
+--------+---+----------+------+

In [18]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Sandipan|  31|        10| 30000|
|  Sumana|  30|         8| 25000|
| Krishna|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [17]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Sandipan|  31|        10| 30000|
|  Sumana|  30|         8| 25000|
| Krishna|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [15]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Sandipan|  31|        10| 30000|         31|                10|         30000|
|  Sumana|  30|         8| 25000|         30|                 8|         25000|
| Krishna|  29|         4| 20000|         29|                 4|         20000|
|    Paul|  24|         3| 20000|         24|                 3|         20000|
|  Harsha|  21|         1| 15000|         21|                 1|         15000|
| Shubham|  23|         2| 18000|         23|                 2|         18000|
|  Mahesh|null|      null| 40000|         29|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 4|         20000|
+--------+----+----------+------+-----------+------------------+--------------+